<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/public/style/main.css">
</head>

<body>
    <section id="sec-pm">
        <div class="central">
            <div class="sec-sup">
                <nav>
                    <h3><span>MouseTe</span>chBrasil</h3>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="https://www.linkedin.com/in/bruno-saba-557393217/">Linkedin</a></li>
                        <li><a href="">Services</a></li>
                    </ul>
                    <button href="https://web.whatsapp.com/5511943272962">Contato</button>
                </nav>
            </div>

            <div class="well-card">
                <p> Olá! Sou <span>Bruno Silva Saba.</span> <br /> Engenheiro de dados & Desenvolvedor Web </p>
            </div> 
        </div>
    </section>

    <section>
        <article>
            <h2>Sobre</h2>
            <p>Atualmente atuo como Engenheiro de Dados, na empresa LEEGA. Participei diversos projetos como migração de banco de dados, desenvolvimento de sistema de analytics, OCR de alta performance entre outros </p>
            <p>Já atuei no mercado como Desenvolvedor Web, construindo sites com Vue.js</p>
        </article>

        <div class="cards">
            <a href="https://partner.cloudskillsboost.google/public_profiles/87c75293-93d9-4175-991a-1d9dbe2c160f">
                <div class="card">
                    <img src="/public/gcp-perfil.jpg" alt="">
                    <p>Bruno Silva Saba | Google Cloud Skills Boost for Partners</p>
                </div>
            </a>
            <a href="https://github.com/BrunoSilvaSaba">
                <div class="card">
                    <img src="/public/FB_IMG_1642340592298.jpg" alt="">
                    <p>Bruno Silva Saba - Overview</p>
                </div>
            </a>
            <a href="https://www.credly.com/badges/7fb0f961-c6ce-4ca0-86d7-f6cfa0dda786">
                <div class="card">
                    <img src="/public/cert_aws_cloud_prac.png" alt="">
                    <p>AWS Certified Cloud Practitioner</p>
                </div>
            </a>
        </div>
    </section>

    <h2>Habilidades</h2>
    <section id="skills">
        <table>
            <tr>
                <th>BigData</th>
                <th>WebDeveloper</th>
            </tr>
            <tr>
                <td>Flink</td>
                <td>Css(SaSS)</td>
            </tr>
            <tr>
                <td>Apache Beam</td>
                <td>Vue.js</td>
            </tr>
            <tr>
                <td>Hadoop</td>
                <td>Javascript</td>
            </tr>
            <tr>
                <td>Apache Pulsar</td>
                <td>Node.js</td>
            </tr>
            <tr>
                <td>Kafka</td>
                <td>HTML5</td>
            </tr>
            <tr>
                <td>Spark</td>
                <td>Angular.js</td>
            </tr>
            <tr>
                <td>Terraform</td>
                <td>GIT</td>
            </tr>
            <tr>
                <td>Python</td>
            </tr>
        </table>
    </section>

    <footer>
        <div>
            <h4>Contato</h2>
            <ul>
                <li>brunossaba.tech@gmail.com</li>
                <li>(11)943272962</li>
            </ul>
        </div>
        <div>

        </div>
    </footer>
</body>

</html>